<div class="container mt-4 col-sm-10">
  <div class="card bg-gray text-black">
    <div class="card-body">
      <table class="table table-striped table-hover">
        <caption>Tabla de items</caption>
        <thead>
        <tr>
          <th scope="col">Referencia</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of listaItems">
          <td>{{ item.referencia }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.cantidad }}</td>
          <td><em id="borrar-{{item.referencia}}" class="bi bi-trash-fill btn-borrar"
                  (click)="eliminarItem(item)"></em></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
