<div class="container mt-4 col-sm-6">
  <div class="card bg-gray text-black">
    <div class="card-body">
      <form [formGroup]="itemForm" (ngSubmit)="crear()">
        <div class="mb-3">
          <label for="referencia" class="form-label">
            Referencia
          </label>
          <input validar type="text" id="referencia" name="referencia" placeholder="Referencia" class="form-control"
                 formControlName="referencia">
        </div>
        <div class="mb-3">
          <label for="nombre" class="form-label">
            Nombre
          </label>
          <input validar type="text" id="nombre" name="nombre" placeholder="Nombre"
                 class="form-control"
                 formControlName="nombre">
        </div>
        <div class="mb-3">
          <label for="cantidad" class="form-label">
            Cantidad
          </label>
          <input validar type="text" id="cantidad" name="cantidad" placeholder="Cantidad" class="form-control"
                 formControlName="cantidad">
        </div>
        <button type="submit" id="btnCrearItem" [disabled]="!itemForm.valid" class="btn btn-primary">Registrar Item
        </button>
      </form>
    </div>
  </div>
</div>
