<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="linkCrearRepartidor" routerLink="./crear" routerLinkActive="active">
      <em class="bi bi-receipt-cutoff me-1"></em>
      Crear repartidor
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="linkListarRepartidor" routerLink="./listar" routerLinkActive="active">
      <em class="bi bi-list-check me-1"></em>
      Listar repartidores
    </a>
  </li>
</ul>

<router-outlet></router-outlet>
